/* tiptap-editor.css */

.editor {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  min-height: 200px; /* Hauteur minimale */
}

.menu-bar {
  border: 1px solid grey;
}

.menu-bar-button-group {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  padding: 1rem 0.5rem;
}
.menu-bar-button-group-list {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne suivante lorsque la ligne est pleine */
  gap: 8px;
  margin-bottom: 8px;
  padding: 0.1rem 0.5rem;
}

.menu-bar-button-group-list button {
  flex: 0 1 auto; /* Les boutons occupent la largeur de leur contenu */
}

.menu-bar button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-bar button.is-active {
  background: #ddd;
}

.ProseMirror {
  background-color: #f9f9f9; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  padding: 8px;
  border-radius: 4px;
  min-height: 200px; /* Hauteur minimale */
  line-height: 1.5;
  margin: 1em 0;
}

.ProseMirror ul {
  list-style-type: disc;
  margin-left: 1.5em;
}
.ProseMirror ol {
  list-style-type: decimal; /* ou autre style */
  margin-left: 1.5em;
}
.ProseMirror li {
  margin: 4px 0;
}

.editor h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

.editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor h3 {
  font-size: 1.17em;
  font-weight: bold;
}

/* tiptap-editor.css */

.editor img {
  height: auto;
  display: inline;
  margin: 1.5rem 0;
  max-width: 100%;
  resize: both;
  overflow: auto;
}

.editor img.ProseMirror-selectednode {
  outline: 3px solid var(--purple);
}

.ProseMirror .column-block {
  width: 100%;
  display: flex; /* Utiliser Flexbox */
  flex-direction: row;
  gap: 8px;
  padding: 8px 0;
  background-color: var(--background-color, transparent);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.ProseMirror .column {
  flex: 1;
  min-width: 0; /* Évite de forcer la largeur minimale */
  overflow-wrap: break-word; /* Permet au texte de se renvoyer à la ligne */
  /* ou word-wrap: break-word; selon vos besoins */

  overflow: hidden;
  padding: 16px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

.ProseMirror-focused .column {
  border: 2px dashed gray; /* Augmenter l'épaisseur de la bordure pour une meilleure visibilité */
  border-radius: 8px;
  background-color: #e0e0e0; /* Changer la couleur de fond lors de la sélection */
}

.ProseMirror span[style*='color'] {
  transition: color 0.3s ease;
}
/* Styles pour le redimensionnement des colonnes de tableau */
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #000; /* Ajouter une bordure plus épaisse et visible au tableau */
}

th,
td {
  border: 2px solid #000; /* Ajouter une bordure plus épaisse et visible aux cellules */
  padding: 8px;
  position: relative; /* Nécessaire pour le redimensionnement */
}

th::after,
td::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px; /* Largeur de la poignée de redimensionnement */
  cursor: col-resize;
  background-color: transparent;
}

th.resizing,
td.resizing {
  cursor: col-resize;
  background-color: #f0f0f0; /* Couleur de fond pendant le redimensionnement */
}

@media (max-width: 768px) {
  .ProseMirror .column-block {
    flex-direction: column !important;
  }
}
